name: Swift CI
on:
  pull_request:
  push: 
    branches: ['main']

jobs:
  format:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: Install swift-format
        run: brew install swift-format
      - name: Format
        run: swift format lint --strict --configuration .swift-format.json --recursive --parallel Sources/ Tests/ Examples/ Package.swift

  build:
    strategy:
      matrix:
        swift: ["5.7", "5.8"]
        os: [macos-12, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: swift-actions/setup-swift@v1
        with:
          swift-version: ${{ matrix.swift }}

      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: sdk/swift/.build
          key: ${{ runner.os }}-${{ matrix.swift }}-spm-${{ github.job }}-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.swift }}-spm-

      - name: Build
        run: swift build

  test:
    strategy:
      matrix:
        swift: ["5.7", "5.8"]
        os: [macos-12, macos-latest]

    needs: [build]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: swift-actions/setup-swift@v1
        with:
          swift-version: ${{ matrix.swift }}
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: sdk/swift/.build
          key: ${{ runner.os }}-${{ matrix.swift }}-spm-${{ github.job }}-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.swift }}-spm-

      - name: "Create env file"
        run: |
            touch .env
            echo TEST_OPERATOR_KEY="302e020100300506032b657004220420a608e2130a0a3cb34f86e757303c862bee353d9ab77ba4387ec084f881d420d4" >> .env
            echo TEST_OPERATOR_ID="0.0.1022" >> .env
            echo TEST_NETWORK_NAME="localhost" >> .env
            echo TEST_RUN_NONFREE="1" >> .env
            cat .env
      
      - name: Start the local node
        run: npx @hashgraph/hedera-local@2.13.0 start -d --network local

      - name: Test
        run: swift test

      - name: Stop the local node
        run: npx @hashgraph/hedera-local@2.13.0 stop
